h1{
    background-color: #FDAFAB;
    font-style: Monospace;
    padding: 30px;
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: black 0.1em 0.1em 0.2em;
}
h2{
    font-size: 40px;
    font-family : "Trebuchet MS", Helvetica, sans-serif;
    color: #FFFFFF;
}
h3{
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#container{
    height: auto;    
}

#Logocamt{
    margin: 0 auto;
    text-align: center;
    background-color: white;
   
}
#photopro{
    text-align: center;
  background-color: #1E2236;
  
}

#photopro1{
   border-radius: 300px;
}
td{
    padding: 30px;
    border-collapse: collapse;
    border: 1px solid white;
}
#table1{
    border-collapse: collapse;
    width: 100%;
    height: 30%;
    background-color:#C3D6F2;
    margin: 10px auto;
    padding: 10px;
}


#photo1{
    text-align: center;
    width: 100%;
    background-color:#FADEE1;
    
    
    
}
#photohis{
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}
#photoedit{
    border-radius: 30px;
    
}
#bgtable{
    background-color: whitesmoke;
}